
<div class="row text-center">
  <div class="col">
    <h1>ff</h1>
    <h4>{{contador}}</h4>
  </div>
</div>


<div class="row text-center">
  <div class="col">
    <button class="btn btn-primary button" (click)="incrementar()">Incrementar</button>
    <button class="btn btn-info" (click)="decrementar()">Decrementar</button>
  </div>
</div>



<hr>


<div class="row text-center">
  <div class="col">
    <app-hijo [contador]="contador" (cambioContador)="showNew($event)"></app-hijo>
  </div>
</div>
